---
BasedOnStyle: Google

AccessModifierOffset: -3
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left

AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignConsecutiveShortCaseStatements: false

AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: true
BinPackParameters: true

BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

ColumnLimit: 150
IndentWidth: 4
TabWidth: 8
UseTab: Never

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeAssignmentOperators: true

SpacesInParens: Never
SpacesInSquareBrackets: false

InsertTrailingCommas: None
InsertNewlineAtEOF: true

NamespaceIndentation: None
FixNamespaceComments: true

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

Standard: Auto
Language: Cpp